{%- liquid
  assign text = section.settings.text | default: 'Default Text'
  assign text_color = section.settings.text_color | default: '#000000'
-%}
<section class="custom-text-section" style="color: {{ text_color }}">
  <div class="section-content">
    {{ text }}
  </div>
</section>

{% schema %}
{
  "name": "Custom Text Section",
  "class": "custom-text-section",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text Content",
      "default": "Type your custom text here"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    }
  ],
   "presets": [
            {
                "name": "Custon Text",
                "category": "My Sections",
                "blocks": []
            }
        ]
}
{% endschema %}
